<div class="main-card mb-3 card">
    <div class="card-header">
        <div class="card-header-title font-size-lg text-capitalize fw-normal">Lots</div>
    </div>
    <br>
    <app-search-generic (emitDataModel)="search($event)"
                        [searchField]="searchField"
                        [searchFieldCondition]="searchFieldCondition"
                        [searchFieldValues]="searchFieldValues"></app-search-generic>
    <div class="table-responsive">
        <lib-generic-table
                (sortOrderChange)="sort($event)"
                [dataList]="list"
                [headers]="[
                {title: '#', width: '', sort: '', colValue : ''},
                {title: 'Lot Name', width: '', sort: 'lotName', colValue : 'lotName'},
                {title: 'Product Name', width: '', sort: 'productName', colValue : 'productName'},
                {title: 'Cost Price', width: '', sort: 'costPrice', colValue : 'costPrice'},
                {title: 'Quantity', width: '', sort: 'quantity', colValue : 'quantity'},
                {title: 'Created on', width: '', sort: 'creationDate', colValue : 'creationDate'},
                {title: 'Action', width: '', sort: '', colValue : ''},
                ]"
                [totalCount]="totalCount"
                [pageNumber]="searchModel.pageNumber"
                [pageSize]="searchModel.pageSize"
                (paginationChange)="changeIndex($event)"
        >

            <tr *ngFor="let data of list; let i = index;">
                <td class="text-center text-muted" style="width: 80px;">{{i + 1}}</td>
                <td class="text-center">{{data.lotName}}</td>
                <td class="text-center">{{data.productName}}</td>
                <td class="text-center">{{data.costPrice}}</td>
                <td class="text-center">{{data.quantity}}</td>
                <td class="text-center">{{data.creationDate}}</td>
                <td class="text-center">
                    <div role="group" class="btn-group-sm btn-group">
                        <button class="btn-shadow btn btn-primary" routerLink="/lot/addStock/{{data?.id}}">Add Stock
                        </button>
                        <button class="btn-shadow btn btn-secondary" routerLink="/lotHistory/list/lotId/{{data?.id}}">
                            Lot History
                        </button>
                    </div>
                </td>
            </tr>
        </lib-generic-table>
    </div>
</div>
