<div class="main-card mb-3 card">
    <app-search-generic (emitDataModel)="search($event)"
                        [searchField]="searchField"
                        [searchFieldCondition]="searchFieldCondition"
                        [searchFieldValues]="searchFieldValues"></app-search-generic>
    <div class="table-responsive">
        <lib-generic-table
                (sortOrderChange)="sort($event)"
                [dataList]="list"
                [headers]="[
                {title: '#', width: '', sort: '', colValue : ''},
                {title: 'Purchase Date', width: '', sort: 'creationDate', colValue : 'creationDate'},
                {title: 'Payment Status', width: '', sort: 'paymentStatus', colValue : 'paymentStatus'},
                {title: 'Cost Price', width: '', sort: 'netCostPrice', colValue : 'netCostPrice'},
                {title: 'Paid Amount', width: '', sort: 'paidAmount', colValue : 'paidAmount'},
                {title: 'Remaining Amount', width: '', sort: 'remaining', colValue : 'remaining'},
                {title:'Detail', width: '', sort: '', colValue : ''},
                {title: 'Action', width: '', sort: '', colValue : ''},
                ]"
                [totalCount]="totalCount"
                [pageNumber]="searchModel.pageNumber"
                [pageSize]="searchModel.pageSize"
                (paginationChange)="changeIndex($event)"
        >
            <tr *ngFor="let data of list; let i = index;">
                <td class="text-center text-muted" style="width: 80px;">{{i + 1}}</td>
                <td class="text-center">{{data.creationDate}}</td>
                <td class="text-center">{{data.paymentStatus | paymentStatus}}</td>
                <td class="text-center">{{data.netCostPrice}}</td>
                <td class="text-center">{{data.paidAmount}}</td>
                <td class="text-center">{{data.remaining}}</td>
                <td>
                    <app-shopping-details [shoppingDetails]="data.purchaseDetails"></app-shopping-details>
                </td>

                <td class="text-center">
                    <div role="group" class="btn-group-sm btn-group">
                        <fa-icon [icon]="viewIcon"
                                 ngbTooltip="details"
                                 class="buttonIcons me-3"
                                 style="color:#005f73"
                                 size="lg"
                                 (click)="viewDetails(data?.id)"
                        ></fa-icon>
                        <fa-icon [icon]="editIcon"
                                 ngbTooltip="edit"
                                 routerLink="/purchase/edit/{{data?.id}}"
                                 class="buttonIcons"
                                 style="color:#005f73"
                                 size="lg"
                        ></fa-icon>
                    </div>
                </td>
            </tr>
        </lib-generic-table>
    </div>
</div>
