<div class="h-100 bg-plum-plate bg-animation">
    <div class="d-flex h-100 justify-content-center align-items-center">
        <div class="mx-auto app-login-box col-md-8">
            <div class="app-logo-inverse mx-auto mb-3"></div>
            <div class="modal-dialog w-100 mx-auto">
                <div class="modal-content">
                    <form>
                        <div class="modal-body">
                            <div class="h5 modal-title text-center">
                                <h4 class="mt-2">
                                    <div>Welcome back,</div>
                                    <span>Please sign in to your account below.</span>
                                </h4>
                            </div>

                            <div id="exampleInputGroup1" role="group"
                                 aria-describedby="exampleInputGroup1__BV_description_" class="mb-3">
                                <div>
                                    <input [(ngModel)]="model.userId" name="userId" id="exampleInput1" type="text"
                                           placeholder="Enter UserId" required="required"
                                           aria-required="true" class="form-control"
                                           aria-describedby="exampleInputGroup1__BV_description_">
                                </div>
                            </div>
                            <div id="exampleInputGroup2" role="group" class="mb-3">
                                <div><input [(ngModel)]="model.password" name="password" id="exampleInput2" type="password"
                                            placeholder="Enter password..." required="required"
                                            aria-required="true" class="form-control"></div>
                            </div>
                        </div>
                        <div class="modal-footer clearfix">
                            <div class="float-end">
                                <button type="submit" (click)="submit()" class="btn btn-primary btn-lg">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
