<div class="main-card mb-3 card">
    <app-search-generic (emitDataModel)="search($event)"
                        [searchField]="searchField"
                        [searchFieldCondition]="searchFieldCondition"
                        [searchFieldValues]="searchFieldValues"></app-search-generic>
    <div class="table-responsive mx-4">
        <lib-generic-table
                (sortOrderChange)="sort($event)"
                [dataList]="list"
                [headers]="[
                {title: '#', width: '', sort: '', colValue : ''},
                {title: 'Detail', width: '', sort: 'detail', colValue : 'detail'},
                {title: 'Amount', width: '', sort: 'amount', colValue : 'amount'},
                {title: 'Payment Status', width: '', sort: 'paymentStatus', colValue : 'paymentStatus'},
                {title: 'Paid Amount', width: '', sort: 'paidAmount', colValue : 'paidAmount'},
                {title: 'Remaining', width: '', sort: 'remaining', colValue : 'remaining'},
                {title: 'Date', width: '', sort: 'creationDate', colValue : 'creationDate'},
                {title: 'Action', width: '', sort: '', colValue : ''},
                ]"
                [totalCount]="totalCount"
                [pageNumber]="searchModel.pageNumber"
                [pageSize]="searchModel.pageSize"
                (paginationChange)="changeIndex($event)"
        >

            <tr *ngFor="let data of list; let i = index;">
                <td class="text-center text-muted" style="width: 80px;">{{i + 1}}</td>
                <td class="text-center">{{data.detail}}</td>
                <td class="text-center">{{data.amount}}</td>
                <td class="text-center">{{data.paymentStatus | paymentStatus}}</td>
                <td class="text-center">{{data.paidAmount}}</td>
                <td class="text-center">{{data.remaining}}</td>
                <td class="text-center">{{data.creationDate}}</td>
                <td class="text-center">
                    <div role="group" class="btn-group-sm btn-group">
                        <fa-icon *ngIf="allowedGrants.includes('expenses:edit')"
                                [icon]="editIcon"
                                 ngbTooltip="edit"
                                 routerLink="/expenses/edit/{{data?.id}}"
                                 class="buttonIcons"
                                 style="color:#005f73"
                                 size="lg"
                        ></fa-icon>
                    </div>
                </td>
            </tr>
        </lib-generic-table>
    </div>
</div>
