<div class="main-card mb-3 card">
    <app-search-generic (emitDataModel)="search($event)"
                        [searchField]="searchField"
                        [searchFieldCondition]="searchFieldCondition"
                        [searchFieldValues]="searchFieldValues"></app-search-generic>

    <hr>
    <div class="d-flex justify-content-between p-2">
        <lib-generic-pagination
                [totalRecords]="totalCount"
                [recordsPerPage]="searchModel.pageSize"
                [activePage]="searchModel.pageNumber"
                (onPageChange)="changeIndex($event)"
        ></lib-generic-pagination>
        <div class="col-2">
            <select class="form-select" style="width: auto" [(ngModel)]="searchModel.pageSize"
                    (ngModelChange)="pageSizeChange($event)">
                <option *ngFor="let item of pageSizeOptions" [ngValue]="item">{{item}} items per page</option>
            </select>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div *ngFor="let data of list; let i = index;" class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <app-product-card [productModel]=data></app-product-card>
            </div>

        </div>
    </div>

    <div class="d-flex justify-content-between p-2">
        <lib-generic-pagination
                [totalRecords]="totalCount"
                [recordsPerPage]="searchModel.pageSize"
                [activePage]="searchModel.pageNumber"
                (onPageChange)="changeIndex($event)"
        ></lib-generic-pagination>
        <div class="col-2">
            <select class="form-select" style="width: auto" [(ngModel)]="searchModel.pageSize"
                    (ngModelChange)="pageSizeChange($event)">
                <option *ngFor="let item of pageSizeOptions" [ngValue]="item">{{item}} items per page</option>
            </select>
        </div>
    </div>

</div>
