<div class="main-card mb-3 card">
    <app-search-generic (emitDataModel)="search($event)"
                        [searchField]="searchField"
                        [searchFieldCondition]="searchFieldCondition"
                        [searchFieldValues]="searchFieldValues"></app-search-generic>
    <div class="table-responsive">
        <lib-generic-table
                (sortOrderChange)="sort($event)"
                [dataList]="list"
                [headers]="[
                {title: '#', width: '', sort: '', colValue : ''},
                {title: 'Product name', width: '', sort: 'name', colValue : 'name'},
                {title: 'Image', width: '', sort: '', colValue : ''},
                {title: 'Action', width: '', sort: '', colValue : ''},
                ]"
                [totalCount]="totalCount"
                [pageNumber]="searchModel.pageNumber"
                [pageSize]="searchModel.pageSize"
                (paginationChange)="changeIndex($event)"
        >

            <tr *ngFor="let data of list; let i = index;">
                <td class="text-center text-muted" style="width: 80px;">{{i+1}}</td>
                <td class="text-center">{{data.name}}</td>
                <td class="text-center "><img class="tableImage" src={{data.image}}/></td>
                <td class="text-center">
                    <div role="group" class="btn-group-sm btn-group">
                        <button routerLink="/product/edit/{{data?.id}}" class="btn-shadow btn btn-primary">Edit</button>
                        <button class="btn-shadow btn btn-secondary" routerLink="/lotHistory/list/productId/{{data?.id}}">Lot History</button>
                    </div>
                </td>
            </tr>
        </lib-generic-table>
    </div>
</div>
