<div class="main-card mb-3 card">
    <app-search-generic (emitDataModel)="search($event)"
                        [searchField]="searchField"
                        [searchFieldCondition]="searchFieldCondition"
                        [searchFieldValues]="searchFieldValues"></app-search-generic>
    <div class="table-responsive mx-4">
        <lib-generic-table
                (sortOrderChange)="sort($event)"
                [dataList]="list"
                [headers]="[
                {title: '#', width: '', sort: '', colValue : ''},
                {title: 'Booked Date', width: '', sort: 'bookedDate', colValue : 'bookedDate'},
                {title: 'Delivered to', width: '', sort: 'deliveredTo', colValue : 'deliveredTo'},
                {title: 'Order status', width: '', sort: 'orderStatus', colValue : 'orderStatus'},
                {title: 'Delivered by', width: '', sort: 'deliveredBy', colValue : 'deliveredBy'},
                {title: 'Payment Status', width: '', sort: 'paymentStatus', colValue : 'paymentStatus'},
                {title: 'Total Cost Price', width: '', sort: 'totalCostPrice', colValue : 'totalCostPrice'},
                {title: 'Net Selling Price', width: '', sort: 'netSellingPrice', colValue : 'netSellingPrice'},
                {title: 'Paid Amount', width: '', sort: 'paidAmount', colValue : 'paidAmount'},
                {title: 'Remaining Amount', width: '', sort: 'remainingAmount', colValue : 'remainingAmount'},
                {title: 'Details', width: '', sort: '', colValue : ''},
                {title: 'Action', width: '', sort: '', colValue : ''},
                ]"
                [totalCount]="totalCount"
                [pageNumber]="searchModel.pageNumber"
                [pageSize]="searchModel.pageSize"
                (paginationChange)="changeIndex($event)"
        >
            <tr *ngFor="let data of list; let i = index;">
                <td class="text-center text-muted" style="width: 80px;">{{i + 1}}</td>
                <td class="text-center">{{data.bookedDate}}</td>
                <td class="text-center">{{data.deliveredTo}}</td>
                <td class="text-center">{{data.orderStatus | orderStatus}}</td>
                <td class="text-center">{{data.deliveredBy}}</td>
                <td class="text-center">{{data.paymentStatus | paymentStatus}}</td>
                <td class="text-center">{{data.totalCostPrice}}</td>
                <td class="text-center">{{data.netSellingPrice}}</td>
                <td class="text-center">{{data.paidAmount}}</td>
                <td class="text-center">{{data.remainingAmount}}</td>
                <td>
                    <app-shopping-details [shoppingDetails]="data.salesDetails"></app-shopping-details>
                </td>
                <td class="text-center">
                    <div role="group" class="btn-group-sm btn-group">
                        <fa-icon *ngIf="allowedGrants.includes('sales:detail')"
                                [icon]="viewIcon"
                                 ngbTooltip="details"
                                 class="buttonIcons me-3"
                                 style="color:#005f73"
                                 size="lg"
                                 (click)="viewDetails(data?.id)"
                        ></fa-icon>
                        <fa-icon
                                *ngIf="allowedGrants.includes('sales:edit')"
                                [icon]="editIcon"
                                 ngbTooltip="edit"
                                 routerLink="/sales/edit/{{data?.id}}"
                                 class="buttonIcons"
                                 style="color:#005f73"
                                 size="lg"
                        ></fa-icon>
                    </div>
                </td>
            </tr>
        </lib-generic-table>
    </div>
</div>
