<div class="main-card mb-3 card">
    <div class="card-body">
        <form #form="ngForm" (ngSubmit)="form.form.valid && onSubmit()">
            <div class="row">
                <div class="col-md-4">
                    <div class="position-relative mb-3">
                        <label for="oldPassword" class="form-label">Old Password</label>
                        <input name="oldPassword" id="oldPassword" placeholder="userId" [(ngModel)]="model.oldPassword"
                               type="password" class="form-control"
                               #oldPassword="ngModel" required
                               [ngClass]="{ 'is-invalid': form.submitted && oldPassword.invalid }">
                        <div *ngIf="form.submitted && form.invalid" class="invalid-feedback">
                            <div *ngIf="oldPassword.errors?.required">Old Password is required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="position-relative mb-3">
                        <label for="newPassword" class="form-label">New Password</label>
                        <input name="newPassword" id="newPassword" placeholder="userId" [(ngModel)]="model.newPassword"
                               type="password" class="form-control"
                               #newPassword="ngModel" required
                               [ngClass]="{ 'is-invalid': form.submitted && newPassword.invalid }">
                        <div *ngIf="form.submitted && form.invalid" class="invalid-feedback">
                            <div *ngIf="newPassword.errors?.required">New Password is required</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="position-relative mb-3">
                        <label for="newRePassword" class="form-label">New Password</label>
                        <input name="newRePassword" id="newRePassword" placeholder="userId"
                               [(ngModel)]="model.newRePassword"
                               type="password" class="form-control"
                               #newRePassword="ngModel" required
                               [ngClass]="{ 'is-invalid': form.submitted && newRePassword.invalid }">
                        <div *ngIf="form.submitted && form.invalid" class="invalid-feedback">
                            <div *ngIf="newRePassword.errors?.required">New Password is required</div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="mt-2  btn btn-primary">
                <span>Update</span>
            </button>
        </form>
    </div>
</div>
