<div style="padding: 15px">
    <form #genericFormSearch="ngForm">
        <div class="row mt-3">
            <label class="label col-sm-1">Search</label>
            <div class="col-sm-9">

                <div class="row mb-2" *ngFor="let data of searchModel; let i= index;">

                    <label class="col-sm-3">
                        <select class="form-select" [(ngModel)]="data.fieldName" name="fieldName{{i}}"
                                required
                                (ngModelChange)="changeField($event, i)"
                                placeHolder="Select a Field">
                            <option *ngFor="let dat of searchField" [ngValue]="dat">{{dat.displayName}}</option>

                        </select>
                    </label>
                    <label class="col-sm-3">
                        <select class="form-select" name="fieldCondition{{i}}"
                                required
                                [(ngModel)]="data.fieldCondition"
                                (ngModelChange)="changeCondition($event,i)"
                                placeholder="Select a Condition">
                            <option *ngFor="let dat of data.searchFieldCondition"
                                    [ngValue]="dat.code"> {{dat.title}} </option>
                        </select>
                    </label>
                    <label class="col-sm-4"
                           *ngIf="data.searchFieldValues.length > 0 && testCondition[i] != ('Date') && testCondition[i] != ('time') ">
                        <select class="form-select" name="fieldCondition{{i}}"
                                required
                                [(ngModel)]="data.fieldValue"
                                placeholder="Select a Value">
                            <option *ngFor="let dat of data.searchFieldValues"
                                    [ngValue]="dat.code">{{dat.title}}</option>
                        </select>
                    </label>
                    <label class="col-sm-4"
                           *ngIf="data.searchFieldValues.length === 0 && testCondition[i] != ('Date') && testCondition[i] != ('time')">
                        <input class="form-control"
                               autocomplete="off"
                               placeholder=""
                               required
                               *ngIf="testValue[i] != ('numberBetween')"
                               [(ngModel)]="data.fieldValue" name="fieldValue{{i}}"/>
                        <div *ngIf="testValue[i] === ('numberBetween')">
                            <div>
                                <input class="form-control"
                                       autocomplete="off"
                                       placeholder="From"
                                       required
                                       [(ngModel)]="data.fieldValue" name="fieldValue{{i}}"/>
                            </div>
                            <br>
                            <div>
                                <input class="form-control"
                                       autocomplete="off"
                                       placeholder="To"
                                       required
                                       [(ngModel)]="data.dateValue" name="dateValue{{i}}"/>
                            </div>
                        </div>
                    </label>

                    <label class="col-sm-4" *ngIf="data.searchFieldValues.length === 0 && testCondition[i] == ('Date')">
                        <div class="input-group" *ngIf="testValue[i] != ('between')">
                            <input class="form-control"
                                   autocomplete="off"
                                   placeholder=""
                                   required
                                   ngbDatepicker
                                   #dates="ngbDatepicker"
                                   [(ngModel)]="data.fromValue" name="fieldValue{{i}}"
                                   (dateSelect)="formatDate(i)"
                            />
                            <button class="btn btn-outline-secondary calendar" (click)="dates.toggle()"
                                    type="button"></button>
                        </div>

                        <div *ngIf="testValue[i] === ('between')">
                            <div class="input-group">
                                <input class="form-control"
                                       autocomplete="off"
                                       placeholder=""
                                       required
                                       ngbDatepicker
                                       #fromDate="ngbDatepicker"
                                       [(ngModel)]="data.fromValue" name="fieldValue{{i}}"
                                       (dateSelect)="formatDate(i)"
                                />
                                <button class="btn btn-outline-secondary calendar" (click)="fromDate.toggle()"
                                        type="button"></button>
                            </div>
                            <br>
                            <div class="input-group">
                                <input class="form-control"
                                       autocomplete="off"
                                       placeholder=""
                                       required
                                       ngbDatepicker
                                       #toDate="ngbDatepicker"
                                       [(ngModel)]="data.toValue" name="dateValues{{i}}"
                                       (dateSelect)="formatDate(i)"
                                />
                                <button class="btn btn-outline-secondary calendar" (click)="toDate.toggle()"
                                        type="button"></button>
                            </div>
                        </div>
                    </label>

                    <label class="col-sm-1">
                        <button type="button" *ngIf="(searchModel.length-1) === (i) && (i)!= (0)" tabIndex="-1"
                                (click)="removeRow(i)"
                        >Remove
                        </button>
                    </label>

                </div>


            </div>
            <div class="col-sm-2">
                <button class=" btn-transition btn btn-outline-primary" type="button" tabIndex="-1"
                        (click)="addNewRow()">Add new
                </button>
                <button class=" btn-transition btn btn-outline-primary" (click)="searchByField()">Search</button>
                <button class=" btn-transition btn btn-outline-secondary" *ngIf="showReset" type="button" tabIndex="-1"
                        style="background: #f64242; color: white" (click)="resetField()">Reset
                </button>
            </div>
        </div>
    </form>
</div>
