<div class="main-card mb-3 card">
    <app-search-generic (emitDataModel)="search($event)"
                        [searchField]="searchField"
                        [searchFieldCondition]="searchFieldCondition"
                        [searchFieldValues]="searchFieldValues"></app-search-generic>
    <div class="table-responsive mx-4">
        <lib-generic-table
                (sortOrderChange)="sort($event)"
                [dataList]="list"
                [headers]="[
                {title: '#', width: '', sort: '', colValue : ''},
                {title: 'UserId', width: '', sort: 'userId', colValue : 'userId'},
                {title: 'Email', width: '', sort: 'emailAddress', colValue : 'emailAddress'},
                {title: 'FullName', width: '', sort: 'firstName', colValue : 'firstName'},
                {title: 'Mobile Number', width: '', sort: 'mobileNumber', colValue : 'mobileNumber'},
                {title: 'Role', width: '', sort: 'roleId', colValue : 'roleId'},
                {title: 'Action', width: '', sort: '', colValue : ''},
                ]"
                [totalCount]="totalCount"
                [pageNumber]="searchModel.pageNumber"
                [pageSize]="searchModel.pageSize"
                (paginationChange)="changeIndex($event)"
        >
            <tr *ngFor="let data of list; let i = index;">
                <td class="text-center text-muted" style="width: 80px;">{{i + 1}}</td>
                <td class="text-center">{{data.userId}}</td>
                <td class="text-center">{{data.emailAddress}}</td>
                <td class="text-center">{{data.firstName ? data.firstName : ''}} {{data.middleName ? data.middleName : ''}}  {{data.lastName ? data.lastName : ''}}</td>
                <td class="text-center">{{data.mobileNumber}}</td>
                <td class="text-center">{{data.roleTitle}}</td>
                <td class="text-center">
                    <div role="group" class="btn-group-sm btn-group">
                        <fa-icon [icon]="editIcon" *ngIf="allowedGrants.includes('user:edit')"
                                 ngbTooltip="edit"
                                 routerLink="/user/edit/{{data?.id}}"
                                 class="buttonIcons"
                                 style="color:#005f73"
                                 size="lg"
                        ></fa-icon>
                    </div>
                </td>
            </tr>
        </lib-generic-table>
    </div>
</div>
