<div class="main-card mb-3 card">
    <div class="card-header">
        <div class="card-header-title font-size-lg text-capitalize fw-normal">Company Agents Status</div>
    </div>
    <app-search-generic (emitDataModel)="search($event)"
                        [searchField]="searchField"
                        [searchFieldCondition]="searchFieldCondition"
                        [searchFieldValues]="searchFieldValues"></app-search-generic>
    <div class="table-responsive">
        <lib-generic-table
                (sortOrderChange)="sort($event)"
                [dataList]="list"
                [headers]="[
                {title: '#', width: '', sort: '', colValue : ''},
                {title: 'UserId', width: '', sort: 'userId', colValue : 'userId'},
                {title: 'Email', width: '', sort: '', colValue : ''},
                {title: 'FullName', width: '', sort: '', colValue : ''},
                {title: 'Mobile Number', width: '', sort: '', colValue : ''},
                {title: 'Action', width: '', sort: '', colValue : ''},
                ]"
                [totalCount]="totalCount"
                [pageNumber]="searchModel.pageNumber"
                [pageSize]="searchModel.pageSize"
                (paginationChange)="changeIndex($event)"
        >
            <tr *ngFor="let data of list; let i = index;">
                <td class="text-center text-muted" style="width: 80px;">{{i + 1}}</td>
                <td class="text-center">{{data.userId}}</td>
                <td class="text-center">{{data.emailAddress}}</td>
                <td class="text-center">{{data.firstName ? data.firstName : ''}} {{data.middleName ? data.middleName : ''}}  {{data.lastName ? data.lastName : ''}}</td>
                <td class="text-center">{{data.mobileNumber}}</td>
                <td class="text-center">
                    <div role="group" class="btn-group-sm btn-group">
                        <button routerLink="/user/edit/{{data?.id}}" class="btn-shadow btn btn-primary">Edit</button>
                        <button class="btn-shadow btn btn-danger">Delete</button>
                    </div>
                </td>
            </tr>
        </lib-generic-table>
    </div>
</div>
