<div class="main-card mb-3 card">
    <div class="card-header">
        <div class="card-header-title font-size-lg text-capitalize fw-normal">Company Agents Status</div>
    </div>
    <app-search-generic (emitDataModel)="search($event)"
                        [searchField]="searchField"
                        [searchFieldCondition]="searchFieldCondition"
                        [searchFieldValues]="searchFieldValues"></app-search-generic>
    <div class="table-responsive">
        <table class="align-middle text-truncate mb-0 table table-borderless table-hover">
            <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">UserId</th>
                <th class="text-center">Email</th>
                <th class="text-center">FullName</th>
                <th class="text-center">Mobile Number</th>
<!--                <th class="text-center">Status</th>-->
                <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of list; let i = index;">
                <td class="text-center text-muted" style="width: 80px;">{{i+1}}</td>
                <td class="text-center">{{data.userId}}</td>
                <td class="text-center">{{data.emailAddress}}</td>
                <td class="text-center">{{data.firstName ? data.firstName: ''}} {{data.middleName ? data.middleName: ''}}  {{data.lastName ? data.lastName: ''}}</td>
                <td class="text-center">{{data.mobileNumber}}</td>
                <td class="text-center">
                    <div role="group" class="btn-group-sm btn-group">
                        <button routerLink="/user/edit/{{data?.id}}" class="btn-shadow btn btn-primary">Edit</button>
                        <button class="btn-shadow btn btn-danger">Delete</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
<!--    <div class="d-block p-4 text-center card-footer">-->
<!--        <button class="btn-pill btn-shadow btn-wide fsize-1 btn btn-dark btn-lg">-->
<!--      <span class="me-2 opacity-7">-->
<!--          <i class="fa fa-cog fa-spin"></i>-->
<!--      </span>-->
<!--            <span class="me-1">View Complete Report</span>-->
<!--        </button>-->
<!--    </div>-->
</div>
