<div class="main-card mb-3 card">
    <div class="card-body">
        <form #form="ngForm" (ngSubmit)="form.form.valid && onSubmit()">
            <div class="row">
                <div class="col-md-3">
                    <div class="position-relative mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input name="title" [(ngModel)]="model.title"
                               id="title" placeholder="Title" type="text" class="form-control"
                               #title="ngModel" required
                               [ngClass]="{ 'is-invalid': form.submitted && title.invalid }"
                        >
                        <div *ngIf="form.submitted && form.invalid" class="invalid-feedback">
                            <div *ngIf="title.errors?.required">Title is required</div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-2">
                    <label class="form-label label-heading">Module</label>
                </div>

                <div class="col-md-10">
                    <label class="form-label label-heading">Permissions</label>
                </div>
            </div>

            <div class="row mt-2" *ngFor="let permissionInfo of permissionInfos; let i=index;">
                <div class="col-md-2">
                    <label class="form-label">{{permissionInfo.module}}</label>
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-2" *ngFor="let permission of permissionInfo.permissions ">
                            <div class="form-check">
                                <input class="form-check-input"
                                       type="checkbox"
                                       value="{{permission.code}}"
                                       id="{{permission.code}}"
                                       [checked]="checked.includes(permission.code)"
                                       (click)="permissionChange($event,permissionInfo.module,permission.code,permission.title)">
                                <label class="form-check-label" for="{{permission.code}}">
                                    {{permission.title}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <button class="mt-2 mx-2 btn btn-primary">Submit</button>
            <button type="button" routerLink="/role/list" class="mt-2  btn btn-danger">Cancel</button>
        </form>
    </div>
</div>
