@import "assets/base";
@import "~@ng-select/ng-select/themes/default.theme.css";

.app-page-title {
  padding: 0.5rem 1.5rem;
  margin: -1.5rem -1.5rem 0.5rem;
}

.v-sidebar-menu .vsm-icon {
  opacity: 0.8;
}

.buttonIcons{
  cursor: pointer;
}

.ngSelectText{
  margin-bottom: 0px;
  margin-top: 0px;
}
.ngSelectTitle{
  font-size: 16px;
  font-weight: bold;
}

.ngSelectDetails{
  font-size: 11px;
  font-style: italic;
  margin-left: 5px;
}

.label-heading{
  font-weight: bold;
}

.genericTable td{
  padding-top: 20px;
  padding-bottom: 20px;
}

.genericTable th{
  padding-top: 15px;
  padding-bottom: 15px;
}

.genericTable thead{
  background-color: #f6f8f9;
}

.pe-7s-home{
  font-weight: bolder;
}

.hidden{
  display: none !important;
}

button.calendar, button.calendar:active {
  width: 2.75rem;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=') !important;
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: center;
}

.circleButton {
  border-radius: 20px;
  height: 40px;
  width: 40px;

}



