@import "assets/base";
@import "~@ng-select/ng-select/themes/default.theme.css";

.app-page-title {
  padding: 0.5rem 1.5rem;
  margin: -1.5rem -1.5rem 0.5rem;
}

.v-sidebar-menu .vsm-icon {
  opacity: 0.8;
}

.buttonIcons{
  cursor: pointer;
}

.ngSelectText{
  margin-bottom: 0px;
  margin-top: 0px;
}
.ngSelectTitle{
  font-size: 16px;
  font-weight: bold;
}

.ngSelectDetails{
  font-size: 11px;
  font-style: italic;
  margin-left: 5px;
}

.label-heading{
  font-weight: bold;
}

.genericTable td{
  padding-top: 20px;
  padding-bottom: 20px;
}

.genericTable th{
  padding-top: 15px;
  padding-bottom: 15px;
}

.genericTable thead{
  background-color: #f6f8f9;
}

.pe-7s-home{
  font-weight: bolder;
}



